@model Versta.Models.OrderModel  

@{
    ViewData["Title"] = "OrderPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrderPage</h1>

<link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />



<br />
                <div class="card border-primary mb-3" style="width: 25rem;">
                    <div class="card-body">
                    <p class="card-text">id: <b>@Model.Order!.id</b></p>
                    <p class="card-text">Уникальный id: <b>@Model.Order!.unique_id</b></p>
                    <p class="card-text">Город отправления: <b>@Model.Order.city_from</b></p> 
                    <p class="card-text">Адрес отправления: <b>@Model.Order.address_from</b></p>
                    <p class="card-text">Город назначения: <b>@Model.Order.city_to</b></p>
                    <p class="card-text">Адрес назначения: <b>@Model.Order.address_to</b> </p>
                    <p class="card-text">Вес груза: <b>@Model.Order.weight</b></p>
                    <p class="card-text">Дата забора груза: <b>@Model.Order.date</b></p>
                    </div>
                </div>   
                
                <div>
    <br />


    <br />

     <form> 
        <button asp-controller="Home" 
            asp-action="DeleteOrderPage" 
            method="get" 
            asp-route-id="@Model.Order.id"
            onclick="return confirm('Are you sure?...')"
            class="btn btn-outline-danger">
        Удалить запись
    </button>
    </form>

    <br />  <br />

    <form>
        <button asp-controller="Home" 
        asp-action="EditOrderPage" 
        method="post" 
        asp-route-id="@Model.Order.id"  
        class="btn btn-outline-warning">Редактировать запись</button>

    </form>




    
</div>